    <h1><%= pageTitle %></h1>
    <p>Welcome to <%= pageTitle %></p>
    <p>From <%= name %></p>
    <p>Animal <%= animals[1] %></p>
    <% animals.forEach(animal => {
      %><%= animal %><br/>
    <% })

    if (ciudades) { %>
      <p>Ciudades en DB:</p>
      <% ciudades.forEach(ciudad => {
        %><%= ciudad.id %> - <%= ciudad.nombre %><br/>
      <% })
    }

    if (departamentos) { %>
      <p>Departamentos en DB:</p>
      <% departamentos.forEach(departamento => {
        %><%= departamento.id_ciudad %> - <%= departamento.codigo %> - <%= departamento.area %> - <%= departamento.descripcion %><br/>
      <% })
    }

    if (error) { %><p>Error in SQL Query: <%= error %></p><% } %>

    <p>Saludo: <%= saludo %></p>
